{% extends 'base.html.twig' %}


{% block body %}


<!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Our job offers</h2>
                        <span class="white-text">Search and filter by job category</span>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <section id="job-offers" class="section-padding gray-bg">
            <div class="container">
                <div class="text-center mb-40">
                    <h2 class="section-title">We have the perfect job for you</h2>
                    <p class="section-sub">just like our candidates, we offer quality, serious & reliable job offers.</p>
                </div>
                <div class="portfolio-container">

                {# job category #}
                   <ul class="portfolio-filter brand-filter text-center ">
					<li class="active waves-effect waves-light" data-group="all">All</li>
					{% for job in jobs %}
					<li class="active waves-effect waves-light" data-group="{{ job.slug }}">{{ job.name }}</li>
					{% endfor %}
				</ul>
                    <div class="portfolio portfolio-with-title col-2 gutter mt-30">

        
                            {# job offer #}
                    {% for offer in offre %}
				<div class="portfolio-item" data-groups='["all" , "{{offer.jobCategory.slug}}"]'>
					<div class="portfolio-wrapper">
						<div class="card job-card">
							<div class="card-content">
								<span class="title">
									<span class="card-title">{{ offer.name }}</span>
									<span class="ref grey-text">{{ offer.jobCategory}}</span>
								</span>
								<div class="metas mb-20">
									<div class="meta">
										<i class="material-icons">&#xE53E;</i>{{ offer.salaire }}&euro;
									</div>
									<div class="meta">
										<i class="material-icons">&#xE916;</i>{{ offer.date }}
									</div>
									<div class="meta">
										<i class="material-icons">&#xE55F;</i>{{ offer.location }}
									</div>
								</div>
								<p class="truncate-text">{{ offer.description }}</p>
							</div>
							
							<div class="card-action">

							   {% set hasApplied = false %}
                                        {% for candidature in existingCandidatures %}
                                            {% if candidature.offreEmploi.id == offer.id %}
                                                {% set hasApplied = true %}

                                            {% endif %}
                                        {% endfor %}
                                        {% if completionRate < 100 %}

                                            <a class="btn btn-md primary waves-effect waves-light" href="{{ path('app_candidate_new') }}">You need to finish your profile</a>
                                        {% elseif hasApplied %}                                    

                                        
                                            <a class="btn btn-success waves-effect waves-light " href="#">You have already applied</a>
                                        {% else %}
                                            <a class="btn btn-md primary waves-effect waves-light" href="{{ path('candidature_postuler', {id: offer.id} ) }}">Apply</a>
                                        {% endif %}
                                                  <a class="btn btn-md primary border waves-effect waves-dark" href="{{ path('app_job_show', {'id':  offer.id}) }}">Details</a>

							</div>
						</div>
						
					</div>
				</div>
				{% endfor %}
					</div>
                        <div class="no-item"></div>
                    </div>
                </div>
            </div>
        </section>

        
 <div class="text-center">
            {{ knp_pagination_render(offre) }}
        </div>

        <section class="cta-candidate bg-fixed bg-cover overlay dark-5 padding-top-70 padding-bottom-50">
            <div class="container">
                <div class="row">
                    <div class="valign-wrapper text-center">
                        <div class="hero-intro valign-cell">
                            <h2 class="tt-headline clip is-full-width no-margin">
                                <span>You are </span>
                                <span class="tt-words-wrapper">
                                    <b class="is-visible">Commercial</b>
                                    <b>Creative</b>
                                    <b>Marketing & PR</b>
                                    <b>Technology</b>
                                    <b>Fashion & luxury</b>
                                    <b>Retail sales</b>
                                </span>
                            </h2>
                            <h3 class="c-secondary mb-30 no-margin">Sign-up and apply for jobs now</h3>
                            <p class="white-text section-sub">Each one of your skills is seen as precious resource to us, each one of your personality traits are considered as an added on value. Joining us is allowing our recruitment expertise and personal guidance to bring the best out in you by choosing the most suited position.</p>

                            <a href="/register.html" class="btn border secondary waves-effect waves-light mt-40">Join us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}